@use "../global" as global;

.p-header {
  background: linear-gradient(to bottom, global.$main-color, #d91d30);
}

.p-header__inner {
  align-items: center;
  display: flex;
  padding-bottom: 36px;
  padding-top: 40px;

  @include global.mq("sp") {
    display: block;
    padding-bottom: 16px;
    padding-top: 20px;
  }
}

.p-header__logo {
  @include global.mq("sp") {
    margin-bottom: 8px;
    text-align: center;
  }
}

.p-header__logo-link {
  line-height: 1.2;
  color: #fff;
  font-family: global.$ff-en;
  font-size: 36px;
  text-decoration: none;
  transition: all 0.3s ease 0s;

  &:hover {
    opacity: 0.6;
  }

  @include global.mq("sp") {
    font-size: 26px;
  }
}

.p-header__sub {
  margin-top: 10px;
  padding-left: 38px;
  padding-right: 38px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 1.71429;

  @include global.mq("sp") {
    font-size: 10px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
