@use "../global" as global;

.p-relative-card {
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

.p-relative-card__image {
  text-align: center;

  img {
    vertical-align: bottom;
  }
}

.p-relative-card__title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57143;
}
