<!-- prettier-ignore -->
<%- include("../parts/_header",{ 
  title: "お問い合わせ", 
  description: "お問い合わせのディスクリプション",
  path: "..",
}) -%>

<div class="main-visual">
  <div class="main-visual__content">
    <div class="main-visual__text">お問い合わせ</div>
  </div>
</div>

<div class="section">
  <div class="inner">
    <h2 class="section__title">お問い合わせ</h2>
    <div class="section__lead">Contact</div>
    <div class="section__body">
      <p>会社概要のコンテンツが入ります。</p>
    </div>
  </div>
</div>

<%- include("../parts/_footer") %>
