@use "../global" as global;

.p-pickup {
  padding-top: 40px;
  padding-bottom: 20px;
  background: #f4f4f4;

  @include global.mq("sp") {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.p-pickup__inner {
}

.p-pickup__items {
  display: flex;

  @include global.mq("sp") {
    display: block;
  }
}

.p-pickup__card {
  width: calc(33.3% - 40px * 2 / 3);

  @include global.mq("sp") {
    width: 100%;
  }

  &:nth-child(n + 2) {
    margin-left: 20px;

    @include global.mq("sp") {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
