<div class="p-cta wow fadeInUp">
  <div class="p-cta__inner">
    <div class="p-cta__content">
      <!-- <img src="../assets/img/cta_img.png" alt="" /> -->
      <picture>
        <source srcset="./assets/img/cta-img-sp.png" media="(max-width: 1024px)" type="image/png" />
        <img src="./assets/img/cta-img.png" alt="" width="" height="" loading="lazy" />
      </picture>
    </div>
    <!-- <div class="p-cta__contents">
      <div class="p-cta__left">
        <div class="p-cta__img-pot">
          <picture>
            <source srcset="./assets/img/cta-pot-sp.png" media="(max-width: 1024px)" type="image/webp" />
            <img src="./assets/img/cta-pot.png" alt="" />
          </picture>
        </div>
      </div>
      <div class="p-cta__right">
        <div class="p-cta__top">お得にはじめるチャンス</div>
        <div class="p-cta__middle">
          <div class="p-cta__middle--text">
            <div class="p-cta__middle--text-upper">
              <p class="p-cta__middle--text-dot">初期手数料</p>
              <p class="p-cta__middle--text-main">無料</p>
            </div>
            <p class="p-cta__middle--text-sub">キャンペーン実施中</p>
          </div>
          <a href="#" class="p-cta__middle--btn">資料請求<br />する</a>
        </div>
        <div class="p-cta__bottom">
          <p class="p-cta__bottom--text">初期手数料(5,000円)が無料になります</p>
        </div>
      </div>
    </div> -->

    <div class="p-cta__contents2"></div>
  </div>
</div>
