<section class="p-kaiketu wow fadeInUp">
  <div class="l-inner">
    <h2 class="c-section__title">
      <p class="p-kaiketu__message-top">
        そんなお悩みや心配は
        <img src="../assets/img/kaiketu-logo.png" alt="" />
        が解決します
      </p>
      <!-- 
      <p class="p-kaiketu__message-top">そんなお悩みや心配は</p>
      <img src="../assets/img/kaiketu-logo.png" alt="" />
      <p class="p-kaiketu__message-top">が解決します</p> -->
    </h2>
    <p class="p-kaiketu__message-sub">SUISOPOTは手軽にナノバブル水素水を作れるサーバーです</p>
    <div class="p-kaiketu__points">
      <div class="p-kaiketu__point">
        <p>
          水道水から<br />
          生成できる
        </p>
        <img src="../assets/img/kaiketu-cirdle.png" alt="" />
      </div>
      <div class="p-kaiketu__point">
        <p>
          コンパクトで<br />
          場所を選ばない
        </p>
        <img src="../assets/img/kaiketu-cirdle.png" alt="" />
      </div>
      <div class="p-kaiketu__point">
        <p>
          月額定額で<br />
          使い放題
        </p>
        <img src="../assets/img/kaiketu-cirdle.png" alt="" />
      </div>
    </div>
    <div class="p-kaiketu__container">
      <div class="p-kaiketu__content--title">そもそも、ナノバブル水素水って？</div>
      <div class="p-kaiketu__kaiwa--wrapper first">
        <img src="../assets/img/kaiketu-lady-1.png" alt="" class="p-kaiketu__kaiwa--img" />
        <div class="p-kaiketu__kaiwa--text">
          ナノバブル水素水について説明します！ まず、水素は、<span class="accent-green">悪玉な活性酸素を消去する抗酸化作用</span>があります！ だから、日々の健康に役立てる事ができるんです！
          しかも、様々な病気の治療への利用が始まっています！
        </div>
      </div>
      <div class="p-kaiketu__kaiwa--wrapper rev">
        <img src="../assets/img/kaiketu-lady-2.png" alt="" class="p-kaiketu__kaiwa--img" />
        <div class="p-kaiketu__kaiwa--text">なるほど！だから近年水素ブームが来ているんですね！</div>
      </div>
      <div class="p-kaiketu__kaiwa--wrapper">
        <img src="../assets/img/kaiketu-lady-1.png" alt="" class="p-kaiketu__kaiwa--img opacity0" />
        <div class="p-kaiketu__kaiwa--text">それから、ナノバブルというのは、こんなに小さな泡の事です！</div>
      </div>
      <div class="p-kaiketu__gazo--wrapper">
        <div class="p-kaiketu__gazo--item">
          <div class="p-kaiketu__gazo--label">通常の気泡</div>
          <img src="../assets/img/kaiketu-img1.png" class="p-kaiketu__gazo--img" />
          <p class="p-kaiketu__gazo--text">約1㎜</p>
        </div>
        <div class="p-kaiketu__gazo--item">
          <div class="p-kaiketu__gazo--label">マイクロバブル</div>
          <img src="../assets/img/kaiketu-img2.png" class="p-kaiketu__gazo--img" />
          <p class="p-kaiketu__gazo--text">約0.05㎜</p>
        </div>
        <div class="p-kaiketu__gazo--item">
          <div class="p-kaiketu__gazo--label accent">ナノバブル</div>
          <img src="../assets/img/kaiketu-img3.png" class="p-kaiketu__gazo--img" />
          <p class="p-kaiketu__gazo--text">
            約0.1µm<br />
            (約0.0001㎜)
          </p>
        </div>
        <p class="p-kaiketu__gazo--text-last">※泡はイメージです</p>
      </div>

      <div class="p-kaiketu__kaiwa--wrapper">
        <img src="../assets/img/kaiketu-lady-1.png" alt="" class="p-kaiketu__kaiwa--img opacity0" />
        <div class="p-kaiketu__kaiwa--text">この泡のスゴイ所は浸透力と持続力！</div>
      </div>
      <div class="p-kaiketu__kaiwa--wrapper">
        <img src="../assets/img/kaiketu-lady-1.png" alt="" class="p-kaiketu__kaiwa--img opacity0" />
        <div class="p-kaiketu__kaiwa--text">
          「ナノバブル水素水」には、この泡が1ccあたり3億3,000万個という高濃度のナノバブルを含んでいます。
          <span class="accent-green">大量のナノバブルが素早く体内に水素と酸素を浸透させる</span>事ができるんです！
        </div>
      </div>
      <div class="p-kaiketu__kaiwa--wrapper rev">
        <img src="../assets/img/kaiketu-lady-2.png" alt="" class="p-kaiketu__kaiwa--img" />
        <div class="p-kaiketu__kaiwa--text">ナノバブルって凄い！普通の水素水とは全然違うのね！</div>
      </div>
    </div>
  </div>
</section>
