<div class="p-mv wow fadeInUp">
  <div class="p-mv__inner">
    <div class="p-mv__contents">
      <div class="p-mv__left">
        <div class="p-mv__top">
          <img src="./assets/img/mv-pot.png" alt="" class="p-mv__left--img" />
          <p class="p-mv__left--message">健康<span class="small">と</span>美しさ<span class="small">は</span><br />自宅<span class="small">で</span>作る時代</p>
        </div>
        <div class="p-mv__labels">
          <picture>
            <source srcset="./assets/img/mv-img1-sp.png" media="(max-width: 1024px)" type="image/webp" />
            <img src="./assets/img/mv-img1.png" alt="" class="p-mv__left--label" />
          </picture>
          <picture>
            <source srcset="./assets/img/mv-img2-sp.png" media="(max-width: 1024px)" type="image/webp" />
            <img src="./assets/img/mv-img2.png" alt="" class="p-mv__left--label" />
          </picture>
          <picture>
            <source srcset="./assets/img/mv-img3-sp.png" media="(max-width: 1024px)" type="image/webp" />
            <img src="./assets/img/mv-img3.png" alt="" class="p-mv__left--label" />
          </picture>
        </div>
      </div>
      <div class="p-mv__right">
        <div class="p-mv__right--img-lady">
          <picture>
            <source srcset="./assets/img/mv-img-lady-sp.webp" media="(max-width: 1024px)" type="image/webp" />
            <img src="./assets/img/mv-img-lady.png" alt="" />
          </picture>
        </div>
        <p class="p-mv__right--text">ナノバブル水素水で健康習慣</p>
        <div class="p-mv__right--img-bubble">
          <img src="../assets/img/mv-bubble.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
