<div class="p-onayami wow fadeInUp">
  <div class="p-onayami__inner">
    <h2 class="p-onayami__message">こんなお悩みありませんか?</h2>
    <div class="p-onayami__container">
      <picture>
        <source srcset="./assets/img/onayami-img-sp.png" media="(max-width: 1024px)" type="image/png" />
        <img src="../assets/img/onayami-img.png" alt="" class="p-onayami__img" />
      </picture>
      <div class="p-onayami__list">
        <div class="p-onayami__list-item">
          <p class="p-onayami__list-item--text">手軽に健康を手に入れたい</p>
        </div>
        <div class="p-onayami__list-item">
          <p class="p-onayami__list-item--text">そろそろお水にもこだわりたい</p>
        </div>
        <div class="p-onayami__list-item">
          <p class="p-onayami__list-item--text">
            腸活何からしたら良いか<br />
            わからない
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
