*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

:root {
	--font: #393939;
	--main: #1391e6;
	--sub1: #0060a0;
	--sub2: #dff1fd;
	--accent: #ee5a6d;
	--hov-btn: #0060a0;
	--layer-hamburger: 150;
	--layer-drawer: 40;
	--layer-totop: 100;
	--layer-aside: 30;
	--layer-header: 20;
	--layer-footer: 50;
	--layer-default: 1;
	--layer-background: -1;
	--width-pc-comp: 1440;
	--width-tab-comp: 768;
	--width-sp-comp: 375;
	--height-pc-header: 80px;
	--height-sp-header: 60px;
	--padding-pc-comp: 130;
	--padding-tab-comp: 60;
	--padding-sp-comp: 16;
}

/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
::before,
::after {
	border-style: solid;
	border-width: 0;
	box-sizing: border-box;
	min-width: 0;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
	display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
	margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Lists (definition) */

/* ============================================ */

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	border-top-width: 1px;
	box-sizing: content-box; /* 1 */
	clear: both;
	color: inherit;
	height: 0; /* 1 */
	margin: 0;
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: inherit; /* 2 */
}

address {
	font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Replaced content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
	vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
	-webkit-appearance: none; /* 1 */
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border-radius: 0;
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
	text-transform: inherit; /* 2 */
	vertical-align: middle;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type=button],
[type=reset],
[type=submit] {
	cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
	cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
	outline: auto;
}

select:disabled {
	opacity: inherit;
}

/**
 * Remove padding
 */

option {
	padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
	margin: 0;
	min-width: 0;
	padding: 0;
}

legend {
	padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type=search] {
	outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */

[type=number] {
	-moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
	cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
	outline: auto;
}

/* Tables */

/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
	border-collapse: collapse;
	border-color: inherit; /* 1 */
}

caption {
	text-align: left;
}

td,
th {
	padding: 0;
	vertical-align: top;
}

th {
	font-weight: bold;
	text-align: left;
}

body {
	color: var(--font);
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-weight: bold;
	line-height: 1;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.mask {
	background-color: gray;
	content: "";
	inset: 0;
	position: absolute;
}

.accent {
	color: var(--accent);
}

.l-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 1100px;
}

.l-content {
	padding-bottom: 120px;
	padding-top: 60px;
}

.l-content__inner {
	display: flex;
	flex-wrap: wrap;
}

.l-content__main {
	width: 65.7272727273%;
}

.l-content__side {
	margin-left: auto;
	width: 31%;
}

.l-front-main__pagination {
	margin-top: 64px;
	text-align: center;
}

.l-archive-main__breadcrumb {
	margin-bottom: 14px;
}

.l-archive-main__head {
	border-top: 3px solid #d81f32;
	margin-bottom: 70px;
	padding-top: 28px;
}

.l-archive-main__card:nth-child(n+2) {
	margin-top: 30px;
}

.l-archive-main__pagination {
	margin-top: 62px;
	text-align: center;
}

.l-entry-main__breadcrumb {
	margin-bottom: 14px;
}

.l-to-top-button {
	bottom: 100px;
	display: none;
	position: fixed;
	right: 28px;
	z-index: 30;
}

.l-footer-sns {
	bottom: -75px;
	left: 0;
	position: fixed;
	z-index: 30;
}

.is-footer-sns-fixed .l-footer-sns {
	bottom: 0;
}

.c-widget-title {
	background: url(../img/heading-line.png) repeat-x bottom center/340px auto;
	font-size: 18px;
	font-weight: 600;
	padding: 0 0 16px;
}

.c-to-top-button {
	background: #6a6a6a;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	width: 60px;
}

.c-to-top-button:hover {
	opacity: 0.6;
}

.c-archive__sub {
	color: #d81f32;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 6px;
}

.c-archive__title {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 18px;
}

.c-archive__title::before {
	color: #d81f32;
	content: "\f02d";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 26px;
	font-weight: 900;
	margin-right: 8px;
}

.c-archive__title.c-archive__title--category::before {
	content: "\f02d";
}

.c-archive__title.c-archive__title--archive::before {
	content: "\f02d";
}

.c-entry-heading-type1 {
	background: #ebebeb;
	border-radius: 3px;
	border-top: 6px solid #d81f32;
	font-size: 26px;
	font-weight: 600;
	line-height: 1.2;
	padding: 24px 20px;
	position: relative;
	text-align: left;
}

.c-entry-heading-type1:after {
	border: 5px solid transparent;
	border-top: 15px solid #ebebeb;
	content: "";
	height: 0;
	left: 24px;
	position: absolute;
	top: 100%;
	width: 0;
}

.c-entry-heading-type2 {
	border-bottom: 3px solid #d81f32;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.4;
	padding-bottom: 14px;
}

.c-entry-heading-type2::after {
	border: 5px solid transparent;
	border-top: 15px solid #ebebeb;
	content: "";
	height: 0;
	left: 24px;
	position: absolute;
	top: 100%;
	width: 0;
}

.c-entry-heading-type3 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6;
	padding-left: 42px;
	position: relative;
}

.c-entry-heading-type3::after {
	color: #d81f32;
	content: "\f00c";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 26px;
	font-weight: 900;
	left: 0;
	position: absolute;
	top: -8px;
}

.c-entry-button {
	background-color: #01b3a7;
	background-image: none;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	min-width: 282px;
	padding: 17px 20px 14px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.c-entry-button:hover {
	background-color: #00aca0;
	opacity: 1;
}

.c-entry-label {
	background: #d81f32;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding: 4px 16px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.c-entry-label:hover {
	opacity: 0.6;
}

.p-profile-box__img {
	margin-bottom: 26px;
	text-align: center;
}

.p-profile-box__img img {
	width: 230px;
}

.p-profile-box__content {
	font-size: 14px;
	line-height: 1.71429;
	margin-bottom: 38px;
	padding: 0 18px;
}

.p-profile-box__sns {
	align-items: center;
	display: flex;
	justify-content: center;
}

.p-profile-box__sns-item:nth-child(n+2) {
	margin-left: 40px;
}

.p-profile-box__sns-item a {
	color: inherit;
	font-size: 26px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-profile-box__sns-item a:hover {
	opacity: 0.6;
}

.p-profile-box__sns-item.p-profile-box__sns-item--twitter {
	color: #1da1f2;
}

.p-profile-box__sns-item.p-profile-box__sns-item--facebook {
	color: #3b5998;
}

.p-profile-box__sns-item.p-profile-box__sns-item--instagram {
	color: #c13584;
}

.p-widget__body {
	margin-top: 30px;
}

.p-entry-card-type1 {
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	padding: 20px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-card-type1:hover {
	opacity: 0.6;
}

.p-entry-card-type1__img {
	width: 36.02941%;
}

.p-entry-card-type1__body {
	padding: 0 0 0 20px;
	width: 63.97059%;
}

.p-entry-card-type1__meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.p-entry-card-type1__tag {
	background: #d81f32;
	color: #fff;
	display: block;
	font-size: 12px;
	margin-right: 15px;
	padding: 3px 12px 2px;
}

.p-entry-card-type1__published {
	color: gray;
	font-size: 12px;
	margin-top: 4px;
}

.p-entry-card-type1__published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 4px;
}

.p-entry-card-type1__title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.42;
	margin-bottom: 14px;
}

.p-entry-card-type1__excerpt {
	color: #454545;
	font-size: 14px;
	line-height: 1.71429;
}

.p-entry-card-type2 {
	background-color: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: inherit;
	display: inline-block;
	text-decoration: none;
	transition: box-shadow 0.3s ease 0s;
}

.p-entry-card-type2:hover {
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.16);
}

.p-entry-card-type2__img {
	text-align: center;
}

.p-entry-card-type2__body {
	padding: 20px;
}

.p-entry-card-type2__meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.p-entry-card-type2__published {
	color: #808080;
	font-size: 12px;
	margin-top: 4px;
}

.p-entry-card-type2__published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 8px;
}

.p-entry-card-type2__tag {
	background-color: #d81f32;
	color: #fff;
	display: block;
	font-size: 12px;
	margin-right: 15px;
	padding: 3px 14px 2px;
}

.p-entry-card-type2__title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.42;
	margin-bottom: 14px;
}

.p-entry-card-type2__excerpt {
	color: #454545;
	font-size: 14px;
	line-height: 1.71429;
}

.p-entry-items {
	display: flex;
	flex-wrap: wrap;
}

.p-entry-items__card {
	width: calc(50% - 20px);
}

.p-entry-items__card:nth-child(2n) {
	margin-left: 40px;
}

.p-entry-items__card:nth-child(n+3) {
	margin-top: 50px;
}

.p-side-items__widget:nth-child(n+2) {
	margin-top: 50px;
}

.p-header {
	background: linear-gradient(to bottom, #d81f32, #d91d30);
}

.p-header__inner {
	align-items: center;
	display: flex;
	padding-bottom: 36px;
	padding-top: 40px;
}

.p-header__logo-link {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 36px;
	line-height: 1.2;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header__logo-link:hover {
	opacity: 0.6;
}

.p-header__sub {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71429;
	margin-top: 10px;
	padding-left: 38px;
	padding-right: 38px;
}

.p-global-nav {
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
}

.p-global-nav__inner {
	padding-bottom: 24px;
	padding-top: 34px;
}

.p-global-nav__lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.p-global-nav__list:nth-child(n+2) {
	margin-left: 40px;
}

.p-global-nav__link {
	color: inherit;
	display: block;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-global-nav__link:hover {
	opacity: 0.6;
}

.p-global-nav__link::before {
	content: "\f015";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 8px;
}

.p-global-nav__link.p-global-nav__link--icon-home::before {
	content: "\f015";
}

.p-global-nav__link.p-global-nav__link--icon-book::before {
	content: "\f02d";
}

.p-global-nav__link.p-global-nav__link--icon-cup::before {
	content: "\f0f4";
}

.p-global-nav__link.p-global-nav__link--icon-pc::before {
	content: "\f109";
}

.p-global-nav__link.p-global-nav__link--icon-mail::before {
	content: "\f0e0";
}

.p-footer-menu {
	background: #868686;
}

.p-footer-menu__inner {
	padding-bottom: 42px;
	padding-top: 54px;
}

.p-footer__logo {
	text-align: center;
}

.p-footer__logo-link {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 14px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-footer__logo-link:hover {
	opacity: 0.6;
}

.p-footer__sub {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71429;
	margin-top: 4px;
	text-align: center;
}

.p-footer__nav {
	margin-top: 30px;
	text-align: center;
}

.p-footer {
	background: #464646;
}

.p-footer__inner {
	padding-bottom: 20px;
	padding-top: 18px;
}

.p-footer__copy {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	margin-bottom: 2px;
	text-align: center;
}

.p-footer__by {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 11px;
	text-align: center;
}

.p-footer__by a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-footer__by a:hover {
	opacity: 0.6;
}

.p-utility-nav {
	text-align: center;
}

.p-utility-nav__lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.p-utility-nav__list {
	margin-bottom: 5px;
	margin-right: 32px;
	margin-top: 5px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.p-utility-nav__list:last-child {
	margin-right: 0;
}

.p-utility-nav__link {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-utility-nav__link:hover {
	opacity: 0.6;
}

.p-breadcrumb {
	align-items: center;
	display: flex;
	overflow: auto;
	white-space: nowrap;
}

.p-breadcrumb__item {
	color: #8d8d8d;
	font-size: 12px;
}

.p-breadcrumb__item:not(:last-child)::after {
	content: "\f105";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-left: 15px;
	margin-right: 15px;
}

.p-breadcrumb__link {
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.p-breadcrumb__link:hover {
	opacity: 0.6;
}

.p-breadcrumb__link.p-breadcrumb__link--home::before {
	content: "\f015";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 10px;
}

.p-pagination {
	align-items: center;
	display: inline-flex;
	justify-content: center;
}

.p-pagination__prev,
.p-pagination__next {
	color: gray;
	height: 40px;
	line-height: 38px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 20px;
}

.p-pagination__prev::after,
.p-pagination__next::after {
	content: "";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 30px;
	font-weight: 900;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.p-pagination__prev:hover,
.p-pagination__next:hover {
	opacity: 0.6;
}

.p-pagination__prev {
	margin-right: 8px;
}

.p-pagination__prev::after {
	content: "\f104";
}

.p-pagination__next {
	margin-left: 8px;
}

.p-pagination__next::after {
	content: "\f105";
}

.p-pagination__number {
	background-color: #fff;
	border: 1px solid #e2e2e2;
	color: gray;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	height: 40px;
	line-height: 38px;
	margin-left: 8px;
	margin-right: 8px;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-pagination__number:hover,
.p-pagination__number.p-pagination__number--current {
	background: #d81f32;
	border: 1px solid #d81f32;
	color: #fff;
	font-weight: 700;
}

.p-toc {
	background: #fff;
	border: 2px solid #d81f32;
	padding: 20px 30px;
}

.p-toc__title {
	border-bottom: 2px solid #d81f32;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
	margin-top: 0;
	padding-bottom: 6px;
	text-align: center;
}

.p-toc__level1-list {
	counter-increment: toc;
	line-height: 1.6;
	margin-bottom: 20px;
	margin-top: 0;
}

.p-toc__level1-link {
	display: inline-block;
	font-weight: 600;
	padding-left: 36px;
	position: relative;
	text-decoration: none;
}

.p-toc__level1-link::before {
	background: #d81f32;
	border-radius: 50%;
	color: #fff;
	content: counter(toc);
	font-family: "Lato", sans-serif;
	font-weight: 700;
	height: 26px;
	left: 0;
	line-height: 26px;
	margin-top: -2px;
	min-width: 26px;
	position: absolute;
	text-align: center;
	top: 0;
}

.p-toc__level1-link:hover {
	opacity: 0.6;
}

.p-toc__level2-lists {
	margin-top: 6px;
	padding-left: 36px;
}

.p-toc__level2-list {
	margin-bottom: 2px;
	margin-top: 0;
}

.p-toc__level2-link {
	display: inline-block;
	font-weight: 400;
	padding-left: 10px;
	position: relative;
	text-decoration: none;
}

.p-toc__level2-link::before {
	background: #d81f32;
	border-radius: 50%;
	content: "";
	height: 5px;
	left: 0;
	min-width: initial;
	position: absolute;
	top: 8px;
	width: 5px;
}

.p-toc__level2-link:hover {
	opacity: 0.6;
}

.p-entry-tag {
	display: flex;
	flex-wrap: wrap;
}

.p-entry-tag__head {
	background: gray;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin: 5px 15px 5px 0;
	padding: 6px 15px 0;
}

.p-entry-tag__head::before {
	content: "\f02b";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 5px;
}

.p-entry-tag__item {
	margin: 5px 15px 5px 0;
}

.p-entry-tag__item a {
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	color: gray;
	display: block;
	font-size: 14px;
	padding: 6px 18px 5px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-tag__item a:hover {
	background: gray;
	border-color: gray;
	color: #fff;
}

.p-entry {
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	padding: 40px 40px 12px;
}

.p-entry__title {
	font-size: 30px;
	font-weight: 600;
	line-height: 1.7;
	margin-top: 18px;
}

.p-entry__date {
	align-items: center;
	display: flex;
	margin-top: 18px;
}

.p-entry__published,
.p-entry__updated {
	color: gray;
	font-size: 12px;
}

.p-entry__published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 8px;
}

.p-entry__updated {
	margin-left: 27px;
}

.p-entry__updated::before {
	content: "\f1da";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 8px;
}

.p-entry__img {
	margin-top: 18px;
	text-align: center;
}

.p-entry__img img {
	vertical-align: bottom;
}

.p-entry__body {
	border-bottom: 1px solid #e2e2e2;
	margin-top: 32px;
	padding-bottom: 44px;
}

.p-entry__tag {
	margin-top: 20px;
}

.p-entry__relative {
	margin-top: 20px;
}

.p-entry-content__text {
	line-height: 1.875;
	margin-top: 30px;
}

.p-entry-content__toc {
	margin-top: 64px;
}

.p-entry-content__h2 {
	margin-bottom: 38px;
	margin-top: 80px;
}

.p-entry-content__h3 {
	margin-bottom: 24px;
	margin-top: 84px;
}

.p-entry-content__h4 {
	margin-bottom: 16px;
	margin-top: 82px;
}

.p-entry-content__button {
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
}

.p-entry-content__link {
	color: #1592e6;
	font-weight: 600;
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.p-entry-content__link:hover {
	opacity: 0.6;
}

.p-entry-content__strong {
	font-weight: 700;
}

.p-relative-card {
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-relative-card:hover {
	opacity: 0.6;
}

.p-relative-card__image {
	text-align: center;
}

.p-relative-card__image img {
	vertical-align: bottom;
}

.p-relative-card__title {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.57143;
	margin-top: 10px;
}

.p-entry-relative__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 22px;
}

.p-entry-relative__items {
	display: flex;
	flex-wrap: wrap;
}

.p-entry-relative__item {
	width: calc(25% - 13.5px);
}

.p-entry-relative__item:not(:nth-child(4n+1)) {
	margin-left: 18px;
}

.p-entry-relative__item:nth-child(n+5) {
	margin-top: 21px;
}

.p-pickup-card {
	display: inline-block;
	margin-right: 40px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-pickup-card:hover {
	opacity: 0.6;
}

.p-pickup-card__img {
	position: relative;
	text-align: center;
}

.p-pickup-card__body {
	padding: 20px 0;
}

.p-pickup-card-title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4;
}

.p-pickup-card__tag {
	background: #d81f32;
	color: #fff;
	font-size: 12px;
	line-height: 1.1;
	padding: 6px 14px;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
}

.p-pickup {
	background: #f4f4f4;
	padding-bottom: 20px;
	padding-top: 40px;
}

.p-pickup__items {
	display: flex;
}

.p-pickup__card {
	width: calc(33.3% - 26.6666666667px);
}

.p-pickup__card:nth-child(n+2) {
	margin-left: 20px;
}

.p-search-form {
	position: relative;
}

.p-search-form__field {
	background-image: none;
	border: 1px solid #e2e2e2;
	border-radius: 0;
	font-family: inherit;
	font-size: 1em;
	padding: 20px 24px;
	padding-right: 70px;
	width: 100%;
}

.p-search-form__field::-moz-placeholder {
	color: #e2e2e2;
}

.p-search-form__field::placeholder {
	color: #e2e2e2;
}

.p-search-form__submit {
	background: transparent;
	border: none;
	box-shadow: none;
	color: #e2e2e2;
	font-size: 26px;
	padding: 0;
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
}

.p-widget-entry-card {
	display: flex;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.p-widget-entry-card:hover {
	opacity: 0.6;
}

.p-widget-entry-card__image {
	position: relative;
	width: 120px;
}

.p-widget-entry-card__title {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.57143;
	margin-left: auto;
	width: calc(100% - 120px - 10px);
}

.p-widget-entry-cards__item {
	position: relative;
}

.p-widget-entry-cards__item.p-widget-entry-cards__item--has-number {
	counter-increment: number;
}

.p-widget-entry-cards__item.p-widget-entry-cards__item--has-number::after {
	background: #01b3a7;
	color: #fff;
	content: counter(number);
	font-family: "Lato", sans-serif;
	font-size: 12px;
	height: 20px;
	left: 0;
	left: 0;
	line-height: 20px;
	position: absolute;
	position: absolute;
	text-align: center;
	top: 0;
	top: 0;
	width: 20px;
}

.p-widget-entry-cards__item:nth-child(n+2) {
	margin-top: 20px;
}

.c-widget-link {
	border-bottom: 1px solid #e2e2e2;
	display: block;
	font-size: 14px;
	padding: 20px 20px 14px 0;
	position: relative;
	text-decoration: none;
}

.c-widget-link:after {
	color: inherit;
	content: "\f054";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 16px;
	font-weight: 900;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.c-widget-link:hover {
	opacity: 0.6;
}

.p-footer-sns {
	background: #fff;
	border-top: 1px solid #e2e2e2;
	width: 100%;
}

.p-footer-sns__inner {
	align-items: center;
	display: flex;
	height: 75px;
	padding-bottom: 0;
	padding-top: 0;
}

.p-footer-sns__head {
	font-size: 14px;
	margin-right: auto;
}

.p-footer-sns__buttons {
	align-items: center;
	display: flex;
}

.p-footer-sns__button:nth-child(n+2) {
	margin-left: 50px;
}

.p-footer-sns__link {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-footer-sns__link:hover {
	opacity: 0.6;
}

.p-footer-sns__link.p-footer-sns__link--twitter img {
	width: 26px;
}

.p-footer-sns__link.p-footer-sns__link--facebook img {
	width: 11px;
}

.p-footer-sns__link.p-footer-sns__link--hatena img {
	width: 22px;
}

.p-footer-sns__link.p-footer-sns__link--line img {
	width: 30px;
}

.p-footer-sns__link.p-footer-sns__link--pocket img {
	width: 27px;
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

@media (768px <= width <= 1023px) {

.l-inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media (width <= 767px) {

.l-inner {
	padding-left: 16px;
	padding-right: 16px;
}

.l-content {
	padding-bottom: 60px;
	padding-top: 40px;
}

.l-content__main {
	width: 100%;
}

.l-content__side {
	margin-left: 0;
	margin-top: 70px;
	width: 100%;
}

.l-front-main__pagination {
	margin-top: 24px;
}

.l-archive-main__head {
	margin-bottom: 35px;
}

.l-archive-main__card:nth-child(n+2) {
	margin-top: 20px;
}

.l-archive-main__pagination {
	margin-top: 40px;
}

.l-to-top-button {
	bottom: 92px;
	right: 16px;
}

.c-to-top-button {
	bottom: 92px;
	right: 16px;
}

.c-archive__title {
	font-size: 20px;
}

.c-entry-heading-type1 {
	font-size: 20px;
	padding: 27px 17px;
}

.c-entry-heading-type2 {
	font-size: 20px;
}

.c-entry-label {
	font-size: 11px;
	padding: 4px 14px;
}

.p-entry-card-type1 {
	padding: 10px;
}

.p-entry-card-type1__img {
	width: 45.06173%;
}

.p-entry-card-type1__body {
	padding-left: 12px;
	width: 54.93827%;
}

.p-entry-card-type1__tag {
	font-size: 10px;
	margin-right: 8px;
}

.p-entry-card-type1__published {
	font-size: 10px;
}

.p-entry-card-type1__title {
	font-size: 12px;
	margin-bottom: 0;
}

.p-entry-card-type1__excerpt {
	display: none;
}

.p-entry-items__card {
	width: 100%;
}

.p-entry-items__card:nth-child(2n) {
	margin-left: 0;
}

.p-entry-items__card:nth-child(n+3) {
	margin-top: 0;
}

.p-entry-items__card:nth-child(n+2) {
	margin-top: 27px;
}

.p-header__inner {
	display: block;
	padding-bottom: 16px;
	padding-top: 20px;
}

.p-header__logo {
	margin-bottom: 8px;
	text-align: center;
}

.p-header__logo-link {
	font-size: 26px;
}

.p-header__sub {
	font-size: 10px;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.p-footer-menu__inner {
	padding-bottom: 56px;
	padding-top: 54px;
}

.p-footer__logo-link {
	font-size: 26px;
}

.p-footer__sub {
	font-size: 12px;
	margin-top: 12px;
}

.p-footer__nav {
	margin-top: 28px;
}

.p-utility-nav__lists {
	display: block;
	text-align: center;
}

.p-utility-nav__list {
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
}

.p-utility-nav__list:nth-child(n+2) {
	margin-top: 12px;
}

.p-toc {
	padding-left: 20px;
	padding-right: 20px;
}

.p-toc__title {
	margin-bottom: 20px;
}

.p-entry {
	padding: 10px;
}

.p-entry__title {
	font-size: 24px;
	line-height: 1.41667;
}

.p-entry__published,
.p-entry__updated {
	font-size: 11px;
}

.p-entry__updated {
	margin-left: 18px;
}

.p-entry-relative__item:not(:nth-child(4n+1)) {
	margin-left: 0;
}

.p-entry-relative__item:nth-child(n+5) {
	margin-top: 0;
}

.p-entry-relative__item {
	width: calc(50% - 15px);
}

.p-entry-relative__item:not(:nth-child(2n+1)) {
	margin-left: 20px;
}

.p-entry-relative__item:nth-child(n+3) {
	margin-top: 21px;
}

.p-pickup-card {
	display: flex;
}

.p-pickup-card__img {
	width: 42.40688%;
}

.p-pickup-card__body {
	padding-bottom: 0;
	padding-top: 0;
	width: 57.59312%;
}

.p-pickup-card-title {
	font-size: 16px;
	padding-left: 15px;
}

.p-pickup {
	padding-bottom: 40px;
	padding-top: 40px;
}

.p-pickup__items {
	display: block;
}

.p-pickup__card {
	width: 100%;
}

.p-pickup__card:nth-child(n+2) {
	margin-left: 0;
	margin-top: 20px;
}

.p-footer-sns__inner {
	height: 67px;
	padding-left: 32px;
	padding-right: 32px;
}

.p-footer-sns__head {
	display: none;
}

.p-footer-sns__buttons {
	justify-content: space-between;
	width: 100%;
}

.p-footer-sns__button:nth-child(n+2) {
	margin-left: 0;
}

.u-hidden-sp {
	display: none;
}

}

@media (1024px <= width) {

.u-hidden-pc {
	display: none;
}

}

