:root {
	--White: #fff;
	--gray: #333333;
	--lightgray: #6c6e6f;
	--Blue: #f4fbfd;
	--accent: #ff8b71;
	--accent-Blue: #82bfed;
	--accent-green: #c6ecec;
	--gradation: linear-gradient(177deg, #50bfcb -29.45%, rgba(80, 191, 203, 0.42) 127.88%);
	--clip-triangle-bottom: polygon(0 0, 100% 0, 50% 100%);
	--layer-hamburger: 150;
	--layer-drawer: 40;
	--layer-totop: 100;
	--layer-aside: 30;
	--layer-header: 20;
	--layer-footer: 50;
	--layer-default: 1;
	--layer-background: -1;
	--width-pc-comp: 1440;
	--width-tab-comp: 768;
	--width-sp-comp: 390;
	--height-pc-header: 104px;
	--height-sp-header: 60px;
	--padding-pc-comp: 130;
	--padding-tab-comp: 60;
	--padding-sp-comp: 16;
}

body {
	color: var(--font);
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-weight: bold;
	line-height: 1;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
	display: inline-block;
	height: 100%;
	width: 100%;
}

.mask {
	background-color: gray;
	content: "";
	inset: 0;
	position: absolute;
}

.accent {
	color: var(--accent);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.l-inner {
	margin-inline: auto;
	max-width: 1440px;
	padding-inline: calc(20px + 200 * (100vw - 1024px) / 416);
}

.c-header__btn {
	background: var(--accent, #ff8b71);
	border-radius: 40px;
	box-shadow: 0px 0px 4px 0px rgba(83, 46, 37, 0.25);
	color: var(--White, #fff);
	display: grid;
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	height: 56px;
	letter-spacing: 3.2px;
	line-height: 120%; /* 19.2px */
	place-items: center;
	text-align: center;
	width: 160px;
}

.c-header__hamburger--button {
	background-color: transparent;
	display: block;
	height: 27px;
	position: relative;
	transition: 0.5s;
	width: 27px;
}

.drawer-bar {
	background: var(--gray, #333);
	border-radius: 4px;
	height: 1.5px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: 0.5s;
	width: 27px;
}

.drawer-bar:nth-child(1) {
	top: calc(7px * 1 + 1px);
}

.drawer-bar:nth-child(2) {
	top: calc(7px * 2 + 1px);
}

.drawer-bar:nth-child(3) {
	top: calc(7px * 3 + 1px);
}

.drawer-open .drawer-bar {
	left: 5px;
	top: 15px;
}

.drawer-open .drawer-bar:nth-child(1) {
	transform: rotate(45deg);
}

.drawer-open .drawer-bar:nth-child(2) {
	display: none;
}

.drawer-open .drawer-bar:nth-child(3) {
	transform: rotate(135deg);
}

.drawer-open .drawer-bar:nth-child(1) {
	transform: rotate(45deg);
}

.drawer-open .drawer-bar:nth-child(2) {
	display: none;
}

.drawer-open .drawer-bar:nth-child(3) {
	transform: rotate(135deg);
}

.drawer-open .drawer-bar:nth-child(1) {
	transform: rotate(45deg);
}

.drawer-open .drawer-bar:nth-child(2) {
	display: none;
}

.drawer-open .drawer-bar:nth-child(3) {
	transform: rotate(135deg);
}

.c-footer__btn {
	background: var(--accent, #ff8b71);
	border-radius: 40px;
	box-shadow: 0px 0px 4px 0px rgba(83, 46, 37, 0.25);
	color: var(--White, #fff);
	display: grid;
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	height: 56px;
	letter-spacing: 3.2px;
	line-height: 120%; /* 19.2px */
	place-items: center;
	text-align: center;
	width: 160px;
}

.p-header {
	background: var(--White, #fff);
	height: var(--height-pc-header);
}

.p-header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	margin-inline: auto;
	max-width: 1440px;
	padding-inline: 40px;
}

.p-header__logo {
	height: 72px;
	width: 187px;
}

.p-header__logo--contents {
	align-items: center;
	display: flex;
	justify-content: center;
}

.p-header__nav {
	align-items: center;
	display: flex;
	justify-content: center;
}

.p-header__nav--item {
	border-left: 1px solid var(--gray, #6c6e6f);
	color: var(--gray, #6c6e6f);
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.p-header__nav--item:first-child {
	border-left: revert;
}

.p-header__link {
	padding: 5px 16px;
}

.p-header__access {
	margin-left: 35px;
}

.p-header__access--tel {
	align-items: center;
	display: flex;
	gap: 8px;
	justify-content: center;
}

.p-header__access--tel-number {
	color: var(--gray, #333);
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.p-header__access--info {
	color: var(--gray, #333);
	font-family: "Noto Sans JP";
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.p-header__btns {
	align-items: center;
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-left: 24px;
}

.p-header__nav-drawer {
	background: var(--gradation, linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), linear-gradient(180deg, #007adf 0%, #00ecbc 100%));
	display: block;
	height: calc(100vh - var(--height-sp-header));
	position: fixed;
	right: -100%;
	top: var(--height-sp-header);
	transition: 0.5s;
	width: 100%;
	z-index: var(--layer-drawer);
}

.drawer-open .p-header__nav-drawer {
	right: 0;
}

.p-header__nav-drawer--inner {
	padding-inline: 15px;
}

.p-header__nav-drawer--item {
	border-bottom: 1px solid var(--White, #fff);
}

.p-header__nav-drawer--item:first-child {
	margin-top: 40px;
}

.p-header__nav-drawer--link {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-inline: 45px;
	position: relative;
}

.p-header__nav-drawer--icon-arrow {
	height: 9px;
	width: 15px;
}

.p-header__nav-drawer--text {
	color: var(--gray, #6c6e6f);
	font-family: "Noto Sans JP";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 32px 0 8px;
	text-transform: uppercase;
}

.p-footer {
	background: var(--White, #fff);
}

.p-footer__inner {
	margin-inline: auto;
	max-width: 1440px;
	padding-inline: 60 px;
}

.p-footer__nav {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.p-footer__nav--item {
	border-left: 1px solid var(--gray, #6c6e6f);
	color: var(--gray, #6c6e6f);
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.p-footer__nav--item:first-child {
	border-left: revert;
}

.p-footer__link {
	padding: 5px 16px;
}

.p-footer__logo {
	height: 141px;
	margin-inline: auto;
	width: 141px;
}

.p-footer__message {
	padding: 51px 100px 30px;
}

.p-footer__copyright {
	color: var(--gray, #6c6e6f);
	font-family: "Noto Sans JP";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 40px;
	position: relative;
	text-align: center;
}

.p-footer__copyright::before {
	background: url(../img/footer-wave.webp) no-repeat top center/cover;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-footer__nav-drawer {
	background: var(--White, #fff);
	bottom: 0;
	display: block;
	height: 212px;
	padding-block: 40px;
	position: fixed;
	right: -100%;
	transition: 0.5s;
	width: 100%;
	z-index: calc(var(--layer-drawer) + 1);
}

.drawer-open .p-footer__nav-drawer {
	right: 0;
}

.p-footer__nav-drawer--inner {
	padding-inline: 31px;
}

.p-footer__access--tel {
	align-items: center;
	display: flex;
	gap: 8px;
	justify-content: center;
}

.p-footer__access--tel-number {
	color: var(--gray, #333);
	font-family: "Noto Sans JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.p-footer__access--info {
	color: var(--gray, #333);
	font-family: "Noto Sans JP";
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}

.p-footer__btns {
	align-items: center;
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-top: 24px;
}

.p-mv {
	height: 640px;
	position: relative;
}

.p-mv::after {
	background: url("../img/mv-wave.png") no-repeat bottom center;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-mv__inner {
	height: inherit;
	margin-inline: auto;
	max-width: 1920px;
}

.p-mv__contents {
	height: inherit;
	position: relative;
	width: 100%;
}

.p-mv__left {
	height: 640px;
	left: 0;
	position: absolute;
	top: 20px;
	width: 627px;
	z-index: 2;
}

.p-mv__top {
	align-items: center;
	display: flex;
	gap: 36px;
	margin-left: 142px;
}

.p-mv__left--img {
	height: 345.264px;
	width: 347.267px;
}

.p-mv__left--img img {
	aspect-ratio: 347/345;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-mv__left--message {
	color: var(--gray, #333);
	font-family: "Noto Serif JP";
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 96px */
	white-space: nowrap;
}

.p-mv__left--message span.small {
	color: var(--gray, #333);
	font-family: "Noto Serif JP";
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.p-mv__labels {
	align-items: center;
	display: flex;
	gap: 2px;
	margin-left: 45px;
}

.p-mv__labels picture img {
	aspect-ratio: 275/273;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-mv__right {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.p-mv__right picture {
	display: block;
	height: 640px;
	width: 692px;
}

.p-mv__right picture img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-mv__right--text {
	color: var(--gray, #6c6e6f);
	font-family: Yomogi;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	height: auto;
	line-height: 37px; /* 115.625% */
	position: absolute;
	right: 68px;
	text-align: end;
	top: 27px;
	width: 29px;
	writing-mode: vertical-rl;
}

.p-mv__right--img-bubble {
	content: "";
	height: 49px;
	position: absolute;
	right: 21px;
	top: 34px;
	width: 16px;
}

.p-cta {
	padding: 40px 292px 43px 292px;
}

.p-cta__content {
	aspect-ratio: 856/327;
	height: auto;
	width: 100%;
}

.p-cta__content picture,
.p-cta__content source,
.p-cta__content img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-cta__contents2 {
	background: linear-gradient(180deg, rgba(205, 251, 243, 0.7) 0%, rgba(205, 230, 250, 0) 100%), url("../img/cta_img.png") lightgray 50%/cover no-repeat;
}

.p-cta__contents {
	border-radius: 16px;
	box-shadow: 0px 0px 4px 0px #dae4ee;
	display: flex;
	justify-content: center;
}

.p-cta__left {
	width: 30%;
}

.p-cta__img-pot {
	aspect-ratio: 151/265;
	height: 265px;
	margin-top: 31px;
	width: 151px;
}

.p-cta__img-pot img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-cta__right {
	flex: 1;
}

.p-cta__top {
	color: var(--gray, #333);
	display: inline-block;
	font-family: "Noto Sans JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 28.8px */
	padding-inline: 30px;
	position: relative;
	text-align: center;
}

.p-cta__top::before,
.p-cta__top::after {
	background-color: #333;
	content: "";
	height: 23px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2px;
}

.p-cta__top::before {
	right: 0;
	rotate: 20deg;
}

.p-cta__top::after {
	left: 0;
	rotate: -20deg;
}

.p-onayami {
	background: url("../img/onayami-bg.png") no-repeat;
	margin-top: 43px;
	padding-top: 80px;
}

.p-onayami__inner {
	margin-inline: auto;
	max-width: 1440;
	padding-inline: 220px;
}

.p-onayami__message {
	color: var(--gray, #333); /* title */
	font-family: "Noto Serif JP";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1.2px;
	line-height: normal;
	text-align: center;
}

.p-onayami__container {
	align-items: center;
	display: flex;
	gap: 60px;
	justify-content: center;
	margin-top: 25px;
	position: relative;
}

.p-onayami__img {
	aspect-ratio: 1;
	flex: 0 0 368px;
	height: 368px;
}

.p-onayami__img img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-onayami__list-item {
	background: var(--White, #fff);
	border: 1px solid var(--gray, #6c6e6f);
	border-radius: 16px;
	margin-top: 29px;
	padding: 24px 24px 24px 80px;
}

.p-onayami__list-item--text {
	color: var(--gray, #333); /* H3　24 */
	font-family: "Noto Sans JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.72px;
	line-height: 130%; /* 31.2px */
	padding-left: 40px;
	position: relative;
	white-space: nowrap;
}

.p-onayami__list-item--text::before {
	background: url("../img/onayami-check.svg") no-repeat;
	content: "";
	height: 24px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 24px;
}

.p-eikyou {
	background: var(--accent-Blue, #82bfed);
	display: grid;
	height: 112px;
	opacity: 0.4;
	place-items: center;
	position: relative;
}

.p-eikyou::after {
	background: var(--accent-Blue, #82bfed);
	clip-path: var(--clip-triangle-bottom);
	content: "";
	height: 50px;
	left: 50%;
	position: absolute;
	top: 100%;
	transform: translateX(-50%);
	width: 90px;
}

.p-eikyou__text {
	color: var(--gray, #333); /* H2　32 */
	font-family: "Noto Sans JP";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.96px;
	line-height: 170%; /* 54.4px */
	text-align: center;
}

.p-kaiketu {
	background: url("../img/kaiketu-bg.png") lightgray -30px -41.637px/104.092% 104.092% no-repeat;
	padding-bottom: 82px;
	padding-top: 40px;
}

.c-section__title {
	color: var(--gray, #333);
	display: inline-block;
	padding-inline: 41px;
	position: relative;
	text-align: center;
}

.c-section__title::before,
.c-section__title::after {
	content: "";
	height: 53px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 33px;
}

.c-section__title::before {
	background: url("../img/kaiketu-buble-left.png") no-repeat center/cover;
	left: 0;
}

.c-section__title::after {
	background: url("../img/kaiketu-buble-right.png") no-repeat center/cover;
	right: 0;
}

.c-section__title img {
	height: 72px;
	width: 187px;
}

.p-kaiketu__message-top {
	align-items: center;
	color: var(--gray, #333);
	display: flex; /* title */
	font-family: "Noto Serif JP";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	justify-content: center;
	letter-spacing: 1.2px;
	line-height: normal;
	text-align: center;
}

.p-kaiketu__message-sub { /* H3　24 */
	font-family: "Noto Sans JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.72px;
	line-height: 130%; /* 31.2px */
	text-align: center;
}

.p-kaiketu__points {
	align-items: center;
	display: flex;
	gap: 60px;
	justify-content: center;
	margin-top: 60px;
}

.p-kaiketu__point {
	height: 236px;
	position: relative;
	width: 236px;
}

.p-kaiketu__point p {
	color: var(--White, #fff);
	content: "";
	display: grid;
	font-family: "Noto Sans JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	height: 100%;
	left: 0;
	line-height: 150%; /* 36px */
	place-items: center;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 2;
}

.p-kaiketu__point img {
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-kaiketu__container {
	background: var(--White, #fff);
	border-radius: 40px;
	box-shadow: 0px 4px 4px 0px rgba(180, 221, 232, 0.25);
	padding: 40px 32px;
}

.p-kaiketu__content--title {
	color: var(--gray, #333);
	font-family: "Noto Serif JP";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.96px;
	line-height: 170%; /* 54.4px */
	text-align: center;
}

.p-kaiketu__kaiwa--wrapper {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 24px;
	margin-top: 28px;
}

.p-kaiketu__kaiwa--wrapper.rev {
	flex-direction: row-reverse;
}

.p-kaiketu__kaiwa--wrapper.first {
	margin-top: 44px;
}

.p-kaiketu__kaiwa--img {
	border-radius: 90px;
	height: 90px;
	width: 90px;
}

.p-kaiketu__kaiwa--img.opacity0 {
	opacity: 0;
}

.p-kaiketu__kaiwa--text {
	background: var(--White, #fff);
	border-radius: 24px;
	box-shadow: 0px 0px 4px 0px rgba(0, 29, 104, 0.25);
	color: var(--gray, #333);
	filter: drop-shadow(0px 0px 4px rgba(0, 29, 104, 0.25)); /* p 20 */
	font-family: "Noto Sans JP";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.6px;
	line-height: 170%; /* 34px */
	padding: 16px;
	position: relative;
}

.p-kaiketu__kaiwa--text .accent-green {
	background-color: var(--accent-green, #c6ecec);
	font-weight: 700;
}

.p-kaiketu__kaiwa--text::before {
	background: url(../img/kaiketu-fukidasi-left.svg) no-repeat center/cover;
	content: "";
	height: 32px;
	height: 24px;
	left: -16px;
	left: -17px;
	position: absolute;
	top: 16px;
	top: 24px;
	width: 17px;
	width: 30px;
}

.p-kaiketu__kaiwa--wrapper.rev .p-kaiketu__kaiwa--text::before {
	background: url(../img/kaiketu-fukidasi-right.svg) no-repeat center/cover;
	left: auto;
	right: -17px;
}

.p-kaiketu__gazo--wrapper {
	align-items: stretch;
	background: var(--White, #fff);
	border-radius: 24px;
	box-shadow: 0px 0px 4px 0px rgba(0, 29, 104, 0.25);
	display: flex;
	gap: 18px;
	padding: 34px 57px 38px;
	position: relative;
}

.p-kaiketu__gazo--item {
	text-align: center;
	width: calc((100% - 36px) / 3);
}

.p-kaiketu__gazo--label {
	background: var(--accent-green, #c6ecec);
	border: 1px solid var(--accent-green, #c6ecec);
	border-radius: 32px;
	color: var(--gray, #333);
	display: inline-block; /* H3　24 */
	font-family: "Noto Sans JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.72px;
	line-height: 130%; /* 31.2px */
	padding: 8px 24px;
	text-align: center;
}

.p-kaiketu__gazo--label.accent {
	background: var(--accent, #ff8b71);
	color: var(--White, #fff);
}

.p-kaiketu__gazo--img {
	aspect-ratio: 220/203;
	height: auto;
	width: 100%;
}

.p-kaiketu__gazo--text {
	color: var(--gray, #333);
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 16px;
	text-align: center;
}

.p-kaiketu__gazo--text-last {
	bottom: 18px;
	color: var(--gray, #333);
	display: inline-block;
	font-family: "Noto Sans JP";
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: absolute;
	right: 8px;
	text-align: center;
}

.p-onayami {
	background: url("../img/onayami-bg.png") no-repeat;
	margin-top: 43px;
	padding-top: 80px;
}

.p-onayami__inner {
	margin-inline: auto;
	max-width: 1440;
	padding-inline: 220px;
}

.p-onayami__message {
	color: var(--gray, #333); /* title */
	font-family: "Noto Serif JP";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1.2px;
	line-height: normal;
	text-align: center;
}

.p-onayami__container {
	align-items: center;
	display: flex;
	gap: 60px;
	justify-content: center;
	margin-top: 25px;
	position: relative;
}

.p-onayami__img {
	aspect-ratio: 1;
	flex: 0 0 368px;
	height: 368px;
}

.p-onayami__img img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-onayami__list-item {
	background: var(--White, #fff);
	border: 1px solid var(--gray, #6c6e6f);
	border-radius: 16px;
	margin-top: 29px;
	padding: 24px 24px 24px 80px;
}

.p-onayami__list-item--text {
	color: var(--gray, #333); /* H3　24 */
	font-family: "Noto Sans JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.72px;
	line-height: 130%; /* 31.2px */
	padding-left: 40px;
	position: relative;
	white-space: nowrap;
}

.p-onayami__list-item--text::before {
	background: url("../img/onayami-check.svg") no-repeat;
	content: "";
	height: 24px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 24px;
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

@media (width <= 1023px) {

.l-inner {
	padding-inline: revert;
}

.c-header__btn {
	color: var(--White, #fff);
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	height: 40px;
	justify-content: center;
	letter-spacing: normal;
	line-height: normal;
	padding: 8px;
}

.c-header__btn--new {
	padding-right: 22px;
	position: relative;
}

.c-header__btn--new::after {
	background: url("../img/header-btn-icon.svg") no-repeat center;
	content: "";
	height: 29px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	z-index: 1;
}

.p-header {
	height: var(--height-sp-header);
}

.p-header__nav {
	display: none;
}

.p-mv {
	height: 514px;
}

.p-mv__left {
	width: revert;
}

.p-mv__top {
	margin-left: 50px;
}

.p-mv__left--img {
	display: none;
}

.p-mv__left--message {
	color: var(--gray, #333);
	font-family: "Noto Serif JP";
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 45px */
}

.p-mv__left--message span.small {
	color: var(--gray, #333);
	font-family: "Noto Serif JP";
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.p-mv__labels {
	align-items: revert;
	flex-direction: column;
}

.p-mv__labels picture {
	aspect-ratio: 582/409;
	height: auto;
	width: 175px;
}

.p-mv__labels picture img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-mv__right {
	bottom: 0;
	top: revert;
}

.p-mv__right picture {
	height: 378px;
	width: 319px;
}

.p-mv__right picture img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-mv__right--text {
	color: var(--gray, #6c6e6f);
	font-family: Yomogi;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 100% */
	top: -100px;
}

.p-mv__right--img-bubble {
	top: -100px;
}

.p-cta {
	padding: 24px 15px;
}

.p-cta__content {
	aspect-ratio: 360/195;
}

.p-onayami {
	padding-top: 40px;
}

.p-onayami__inner {
	padding-inline: revert;
}

.p-onayami__message {
	color: var(--gray, #333); /* SP title */
	font-family: "Noto Serif JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.p-onayami__container {
	gap: revert;
}

.p-onayami__img {
	flex: 0 0 163px;
	height: 240px;
	width: 163px;
}

.p-onayami__img img {
	aspect-ratio: 163/240;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-onayami__list {
	height: 100%;
	margin-left: -31px;
	width: 250px;
}

.p-onayami__list-item {
	background: var(--White, #fff);
	border: 0.395px solid var(--gray, #6c6e6f);
	border-radius: 8px;
	padding: 14px 16px 9.474px 8px;
}

.p-onayami__list-item--text {
	color: var(--gray, #333);
	font-family: "Noto Sans JP";
	font-feature-settings: "vhal" on;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.48px;
	line-height: 130%; /* 20.8px */
	padding-left: 16px;
}

.p-onayami__list-item--text::before {
	background: url("../img/onayami-check-sp.svg") no-repeat;
	content: "";
	height: 10px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 10px;
}

.p-onayami {
	padding-top: 40px;
}

.p-onayami__inner {
	padding-inline: revert;
}

.p-onayami__message {
	color: var(--gray, #333); /* SP title */
	font-family: "Noto Serif JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.p-onayami__container {
	gap: revert;
}

.p-onayami__img {
	flex: 0 0 163px;
	height: 240px;
	width: 163px;
}

.p-onayami__img img {
	aspect-ratio: 163/240;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-onayami__list {
	height: 100%;
	margin-left: -31px;
	width: 250px;
}

.p-onayami__list-item {
	background: var(--White, #fff);
	border: 0.395px solid var(--gray, #6c6e6f);
	border-radius: 8px;
	padding: 14px 16px 9.474px 8px;
}

.p-onayami__list-item--text {
	color: var(--gray, #333);
	font-family: "Noto Sans JP";
	font-feature-settings: "vhal" on;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.48px;
	line-height: 130%; /* 20.8px */
	padding-left: 16px;
}

.p-onayami__list-item--text::before {
	background: url("../img/onayami-check-sp.svg") no-repeat;
	content: "";
	height: 10px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 10px;
}

}

@media (1024px <= width) {

.c-header__hamburger--button {
	display: none;
}

.u-hidden-pc {
	display: none;
}

}

@media (width <= 767px) {

.p-footer__nav {
	flex-direction: column;
}

.p-footer__nav--item {
	border-left: revert;
}

.p-footer__link {
	padding-block: 12px;
}

.p-footer__logo {
	height: 95px;
	width: 95px;
}

.p-footer__copyright {
	color: var(--gray, #6c6e6f);
	font-family: "Noto Sans JP";
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.u-hidden-sp {
	display: none;
}

}

@media (max-width: 1420px) {

.p-header__access {
	display: none;
}

}

@media (max-width: 1200px) {

.c-header__btn--request {
	display: none;
}

.p-header__btns {
	gap: 16px;
	margin-left: revert;
}

}

