<!-- prettier-ignore -->
<%- include("../parts/_header",{ 
  title: "会社概要", 
  description: "会社概要のディスクリプション",
  path: "..",
}) -%>

<div class="main-visual">
  <div class="main-visual__content">
    <div class="main-visual__text">会社概要</div>
  </div>
</div>

<div class="section">
  <div class="inner">
    <h2 class="section__title">会社概要</h2>
    <div class="section__lead">Company</div>
    <div class="section__body">
      <p>会社概要のコンテンツが入ります。</p>
    </div>
  </div>
</div>

<%- include("../parts/_footer") %>
