@use "sass:map";
@use "../global" as global;

.l-to-top-button {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 28px;
  z-index: map.get(global.$layer, floating);

  @include global.mq("sp") {
    bottom: 92px;
    right: 16px;
  }
}
