@use "c-header__btn";
@use "c-header__hamburgar";
@use "c-footer__btn";

@use "c-widget-title";
@use "c-to-top-button";
@use "c-archive-head";
@use "c-entry-heading-type1";
@use "c-entry-heading-type2";
@use "c-entry-heading-type3";
@use "c-entry-button";
@use "c-entry-label";
