@use "../global" as global;

.c-entry-heading-type1 {
  background: #ebebeb;
  border-radius: 3px;
  border-top: 6px solid global.$main-color;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  padding: 24px 20px;
  position: relative;
  text-align: left;

  &:after {
    border: 5px solid transparent;
    border-top: 15px solid #ebebeb;
    content: "";
    height: 0;
    left: 24px;
    position: absolute;
    top: 100%;
    width: 0;
  }

  @include global.mq("sp") {
    font-size: 20px;
    padding: 27px 17px;
  }
}
