<!-- prettier-ignore -->
<%- include("./parts/_header",{ 
  title: "DEMOサイト", 
  description: "トップページのディスクリプション",
  path:".",
}) -%>
<%- include("./parts/_main-visual-top") -%>
<div class="section">
  <div class="inner">
    <h2 class="section__title">セクション</h2>
    <div class="section__lead">Section</div>
    <div class="section__body">
      <p>会社概要のコンテンツが入ります。</p>
    </div>
  </div>
</div>
<%- include("./parts/_footer") %>
