<!-- prettier-ignore -->
<%- include("./parts/_header",{ 
  title: "SUISOPOT｜健康と美しさは、自宅で作る時代", 
  description: "SUISOPOTで、健康と美しさを。自宅で手軽にナノバブル水素水のある生活を始めてみませんか。初期手数料5,000円が無料になるキャンペン実施中！",
  path:".",
}) -%>
<%- include("./parts/_main-visual") -%>

<div class="section">
  <div class="inner">
    <h2 class="section__title">セクション</h2>
    <div class="section__lead">Section</div>
    <div class="section__body">
      <p>会社概要のコンテンツが入ります。</p>
      <img src="./assets/img/kenkyu-img1.jpg" alt="" />
      <p>aaa</p>
    </div>
  </div>
</div>
<%- include("./parts/_footer",{ path:".", }) %>
