@use "sass:math";
@use "../global" as *;

.l-content {
  padding-top: 60px;
  padding-bottom: 120px;

  @include mq("sp") {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.l-content__inner {
  display: flex;
  flex-wrap: wrap;
}

.l-content__main {
  width: math.div(723px, $inner-width) * 100%;

  @include mq("sp") {
    width: 100%;
  }
}

.l-content__side {
  margin-left: auto;
  width: math.div(341px, $inner-width) * 100%;

  @include mq("sp") {
    width: 100%;
    margin-left: 0;
    margin-top: 70px;
  }
}
